<div class="nav-setting">
  <div class="ui buttons">
    <div class="ui floating dropdown button">
      <i class="icon bars"></i>
      <div class="menu">
        <% if (user && user.auth == 0) { %>
          <a class="item" href="/post/create">发表文章</a>
          <a class="item" href="/user/<%= user.username %>/edit">编辑个人信息</a>
          <div class="divider"></div>
          <a class="item" href="/signout">登出</a>
        <% } else if (user && user.auth == 1) { %>
          <a class="item" href="/board/create">新建板块</a>
          <div class="divider"></div>
          <a class="item" href="/signout">登出</a>
        <% } else { %>
          <a class="item" href="/signin">登录</a>
          <a class="item" href="/signup">注册</a>
        <% } %>
      </div>
    </div>
  </div>
</div>
