<%- include('header') %>
<div class="ui grid">
  <div class="four wide column">
  </div>

  <div class="eight wide column">
    <form class="ui form segment" method="post">
      <div class="field required">
        <label>板块名</label>
        <input type="text" name="board_name" value="<%= board_name %>">
      </div>
      <input type="submit" class="ui button" value="提交">
    </form>
  </div>
</div>
<%- include('footer') %>
